<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>111</title>

		<link rel="stylesheet" href="../../../static/css/dashboard.css">
		<script src="../../../static/bootstrap/js/jquery-1.11.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="../../../static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../../static/js/ajax.js"></script>
		<script type="text/javascript">
			$(function(){
				$(".click").click(function(){
					$(this).addClass("active");
					$(this).siblings().removeClass("active");
				})
			});
		</script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					 aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="../../../static/img/logo.png" class="navbar-brand" /> <span class="navbar-brand">${ORDER_SYS_NAME}</span>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><span class="navbar-brand">点单界面：当前桌号<span id="tableresult">【】</span></span></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							 aria-expanded="false"><img src="../../../static/img/faces/${USER_INFO.faceimg }" width="24" height="24" class="img-circle"
                                                        style="border:1px solid #FFF" />&nbsp;&nbsp;当前用户:【${USER_INFO.userAccount}】,身份为服务员
								<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li style="text-align: center;padding-top: 15px"><img src="../../../static/img/ok.png" width="128" height="128"
                                                                                      class="img-circle" style="border:1px solid #CCC;box-shadow:0 0 10px rgba(100, 100, 100, 1);margin-bottom: 20px" /></li>
								<li><a href="../users/modifyuser.html">修改我的密码</a></li>
								<li role="separator" class="divider"></li>
							</ul>
						</li>
						<li><a href="#">退出登录</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="设定桌号" id="tableId"><input class="btn btn-default" type="button"
						 value="确定" onclick="setTableId()" />
					</form>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="nav-header" style="font-size: 18;margin-bottom: 10px;margin-left: 10px">
							<i class="icon-user icon-large"></i>&nbsp;服务员点餐功能
						</li>
						<li class="click">
							<a href="../waiters/takeorder_backup.html" target="mainwindow">
								<i class="icon-glass icon-large"></i>&nbsp;服务点餐界面 <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="click">
							<a href="../waiters/paylist.html" target="mainwindow">
								<i class="icon-credit-card icon-large"></i>&nbsp; 餐桌结账 <span class="sr-only">(current)</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<section>
			<iframe src="" name="mainwindow" scrolling="no" width="100%" height="1400px" frameborder="0px"></iframe>
		</section>
	</body>

</html>
